.env
.env.*
!.env.example

.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

src/*.egg-info/
*.egg-info/
build/
dist/
target/

tests/
htmlcov/
.coverage
coverage.xml
*.log

.git/
.gitignore
